<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
    {% load static %}
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet" type="text/css"/>
    <!--<link href="static/css/stylesheet.css" rel="stylesheet" type="text/css">-->
</head>
<body>
<h1 id="mainTitle">Centrando cosas</h1>
<div class="contenedor">
    {% load static %}
    <!--<img src="static/imgn.jpg" id="mainImg" alt="art">-->
    <img src="{%static 'imgn.jpg'%}" id="mainImg" alt="arg">
    <div class="font-effect-3d-float">ART</div>
    <div class="secText">
        <p>“Creativity takes courage.”</p>
    </div>
</div>


<div>
    Numero de Personas: {{noPersonas}}
</div>
<div id="registrarPersona">
    <a href="nuevaPersona">Registrar Persona</a>
</div>
<div id="getPersonas">

    <table border=1>
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Email</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for persona in personas %} <!--for each xd-->
        <tr>
            <td> Persona {{persona.id}}</td>
            <td> {{persona.nombre}} {{persona.apellido}}</td>
            <td> {{persona.email}}</td>
            <td><a href="detallePersona/{{persona.id}}">Ver detalle</a></td>
            <td><a href="editarPersona/{{persona.id}}">Editar</a></td>
            <td><a href="eliminarPersona/{{persona.id}}">Eliminar</a></td>
        </tr>

        {% endfor %}
        </tbody>
    </table>


</div>

</body>
</html>